<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.odm.qrgodotplugin">

    <application
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        >

        <meta-data
        android:name="org.godotengine.plugin.v1.QRGodot"
        android:value="com.odm.qrgodotplugin.QRMain" />

    </application>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false" />

</manifest>
